<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>New Student List</h2>
          </div>
          
          <div class="d-block" width="400" height="400">
            <video #testVideo id="testVideo"></video>
            <canvas #testCanvas  id="testCanvas"></canvas>
     
          </div>
         

        </div>
      </div>
    </div>
  </div>
</section>


<script src="../../../camera/dahua/module/PlayerControl.js"></script>
<script>

   // Options:
   var options = {
      host	: '192.168.1.100',
      port 	: '80',
      user 	: 'admin',
      pass 	: 'admin123'
    };

    var videoPlayerObj = document.getElementById('testVideo');
    var canvasPlayerObj = document.getElementById('testCanvas');
    var player2 = new playerJS.PlayerControl(options);
    player2.init(canvasPlayerObj,videoPlayerObj);
    player2.connect();


</script>